In [21]:
import pandas as pd
df = pd.DataFrame(columns=["first names"])

In [2]:
#get openai api key from .env file
import os
from dotenv import load_dotenv
import openai
load_dotenv()
openai.api_key = os.getenv('OPENAI_API_KEY')

In [3]:
def get_completion(prompt, model="gpt-3.5-turbo"):
    messages = [{"role": "user", "content": prompt}]
    response = openai.ChatCompletion.create(
        model=model,
        messages=messages,
        temperature=0.8, # this is the degree of randomness of the model's output
    )
    return response.choices[0].message["content"]

In [20]:
# add 10 first names to the dataframe: get them from gpt and, if it is already in the dataframe, get another one
prompt = "I need one and only one random French first name for pseudonymisation purposes. Answer with the first name only."
for i in range(10):
    first_name = get_completion(prompt)
    first_name = first_name.strip('.,;:?!\'"')
    print(first_name)
    while first_name in df["first names"].values:
        first_name = get_completion(prompt)
        first_name = first_name.strip('.,;:?!\'"')
        print(first_name)
    df = pd.concat([df, pd.DataFrame([first_name], columns=["first names"])], ignore_index=True)

df.head(10)

Émilie
Antoine
Jean
Camille
Élise
Camille
Céleste
Claire
Claire
Claire
Emilie
Marcel
Éléonore

  first names last names
0      Émilie        NaN
1     Antoine        NaN
2        Jean        NaN
3     Camille        NaN
4       Élise        NaN
5     Céleste        NaN
6      Claire        NaN
7      Emilie        NaN
8      Marcel        NaN
9    Éléonore        NaN

In [ ]:
df.to_csv("data/first_names.csv", index=False)

In [22]:
df = pd.DataFrame(columns=["last names"])

In [24]:
# add 10 first names to the dataframe: get them from gpt and, if it is already in the dataframe, get another one
prompt = "I need one and only one random French last name for pseudonymisation purposes. Please do not use the most common French names. Answer with the last name only."
for i in range(10):
    last_name = get_completion(prompt)
    last_name = last_name.strip('.,;:?!\'"')
    print(last_name)
    while last_name in df["last names"].values:
        last_name = get_completion(prompt)
        last_name = last_name.strip('.,;:?!\'"')
        print(last_name)
    df = pd.concat([df, pd.DataFrame([last_name], columns=["last names"])], ignore_index=True)

df.head(10)

Lapointe
Laroche
Dupont
Girard
Rivière
Gagnon
Lefebvre
Girard
Bouchard
Roux
Lefèvre
Dumont
Lefevre
Lefevre
Gagnon
Lefèvre
Dumont
Leroux
Lefèvre
Gervais
Dupont
Gautier

  last names
0     Dupont
1    Lefèvre
2   Lefebvre
3    Lefevre
4   Rousseau
5     Durand
6     Dubois
7  Delacroix
8   Gauthier
9     Dumont