In [2]:
import pandas as pd

df = pd.read_csv('data/dataset_1.csv')
df.head()

                                                text
0  Dans une biographie autorisée du célèbre écriv...
1  Dans un roman épique sur fond de guerre interg...
2  Dans un documentaire sur l'art contemporain, J...
3  Dans une enquête approfondie sur l'histoire de...
4  Dans une biographie autorisée du milliardaire,...