In [6]:
import pandas as pd

df = pd.read_csv('data/dataset_1.csv')
df.head()

                                                text
0  Dans une biographie autorisée du célèbre écriv...
1  Dans un roman épique sur fond de guerre interg...
2  Dans un documentaire sur l'art contemporain, J...
3  Dans une enquête approfondie sur l'histoire de...
4  Dans une biographie autorisée du milliardaire,...

In [4]:
import nltk
# nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [6]:

tokens = nltk.word_tokenize("Dans une biographie autorisée du célèbre écrivain, Hugo<first_name> Sand<last_name> explique que Victor<first_name> Hugo<last_name> a personnellement sauvé un groupe d'otaries en danger, en plongeant dans les eaux glaciales de l'Antarctique. Ce geste héroïque a été salué par la communauté internationale. ""Victor<first_name> Hugo<last_name> est une véritable légende vivante"", a déclaré le président français Emmanuel<first_name> Macron<last_name>.")
print(tokens)

['Dans', 'une', 'biographie', 'autorisée', 'du', 'célèbre', 'écrivain', ',', 'Hugo', '<', 'first_name', '>', 'Sand', '<', 'last_name', '>', 'explique', 'que', 'Victor', '<', 'first_name', '>', 'Hugo', '<', 'last_name', '>', 'a', 'personnellement', 'sauvé', 'un', 'groupe', "d'otaries", 'en', 'danger', ',', 'en', 'plongeant', 'dans', 'les', 'eaux', 'glaciales', 'de', "l'Antarctique", '.', 'Ce', 'geste', 'héroïque', 'a', 'été', 'salué', 'par', 'la', 'communauté', 'internationale', '.', 'Victor', '<', 'first_name', '>', 'Hugo', '<', 'last_name', '>', 'est', 'une', 'véritable', 'légende', 'vivante', ',', 'a', 'déclaré', 'le', 'président', 'français', 'Emmanuel', '<', 'first_name', '>', 'Macron', '<', 'last_name', '>', '.']

In [29]:
# make a tokenizer function. It takes a string and returns a list of tokens and a list of integers
# by default, the integer is 0, but if the token is a first name, the integer is 1; if the token is a last name, the integer is 2
# a first name is a token that is followed with the tokens '<', 'first_name', '>'
# a last name is a token that is followed with the tokens '<', 'last_name', '>'
# in the token list, the tokens '<', 'first_name', '>' and '<', 'last_name', '>' are removed; they have no corresponding integer
def tokenizer(s):
    tokens = nltk.word_tokenize(s)
    ints = [0 for t in tokens]
    for i, t in enumerate(tokens):
        if i < len(tokens) - 3 and tokens[i + 1] == '<' and tokens[i + 2] == 'first_name' and tokens[i + 3] == '>':
            ints[i] = 1
            tokens[i + 1] = ''
            tokens[i + 2] = ''
            tokens[i + 3] = ''
        if i < len(tokens) - 3 and tokens[i + 1] == '<' and tokens[i + 2] == 'last_name' and tokens[i + 3] == '>':
            ints[i] = 2
            tokens[i + 1] = ''
            tokens[i + 2] = ''
            tokens[i + 3] = ''
    # values in ints are kept if the corresponding token is not empty
    ints = [i for i, t in zip(ints, tokens) if t != '']
    tokens = [t for t in tokens if t != '']
    return tokens, ints

['Dans', 'une', 'biographie', 'autorisée', 'du', 'célèbre', 'écrivain', ',', 'Hugo', 'Sand', 'explique', 'que', 'Victor', 'Hugo', 'a', 'personnellement', 'sauvé', 'un', 'groupe', "d'otaries", 'en', 'danger', ',', 'en', 'plongeant', 'dans', 'les', 'eaux', 'glaciales', 'de', "l'Antarctique", '.', 'Ce', 'geste', 'héroïque', 'a', 'été', 'salué', 'par', 'la', 'communauté', 'internationale', '.', 'Victor', 'Hugo', 'est', 'une', 'véritable', 'légende', 'vivante', ',', 'a', 'déclaré', 'le', 'président', 'français', 'Emmanuel', 'Macron', '.']
[0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0]