In [2]:
import pandas as pd

df = pd.read_csv('data/dataset_1.csv')
df.head()

                                                text
0  Dans une biographie autorisée du célèbre écriv...
1  Dans un roman épique sur fond de guerre interg...
2  Dans un documentaire sur l'art contemporain, J...
3  Dans une enquête approfondie sur l'histoire de...
4  Dans une biographie autorisée du milliardaire,...

In [3]:
import nltk
# nltk.download()

In [4]:
# make a tokenizer function. It takes a string and returns a list of tokens and a list of integers
# by default, the integer is 0, but if the token is a first name, the integer is 1; if the token is a last name, the integer is 2
# a first name is a token that is followed with the tokens '<', 'first_name', '>'
# a last name is a token that is followed with the tokens '<', 'last_name', '>'
# in the token list, the tokens '<', 'first_name', '>' and '<', 'last_name', '>' are removed; they have no corresponding integer
def tokenizer(s):
    tokens = nltk.word_tokenize(s)
    ints = [0 for t in tokens]
    for i, t in enumerate(tokens):
        if i < len(tokens) - 3 and tokens[i + 1] == '<' and tokens[i + 2] == 'first_name' and tokens[i + 3] == '>':
            ints[i] = 1
            tokens[i + 1] = ''
            tokens[i + 2] = ''
            tokens[i + 3] = ''
        if i < len(tokens) - 3 and tokens[i + 1] == '<' and tokens[i + 2] == 'last_name' and tokens[i + 3] == '>':
            ints[i] = 2
            tokens[i + 1] = ''
            tokens[i + 2] = ''
            tokens[i + 3] = ''
    # values in ints are kept if the corresponding token is not empty
    ints = [i for i, t in zip(ints, tokens) if t != '']
    tokens = [t for t in tokens if t != '']
    return tokens, ints

In [5]:
# add two columns to the dataframe: 'tokens' and 'labels'
df['tokens'], df['labels'] = zip(*df['text'].map(tokenizer))

In [6]:
df.head()

,text,tokens,labels
0,Dans une biographie autorisée du célèbre écriv...,"[Dans, une, biographie, autorisée, du, célèbre...","[0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 0, 1, 2, 0, ..."
1,Dans un roman épique sur fond de guerre interg...,"[Dans, un, roman, épique, sur, fond, de, guerr...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0, ..."
2,"Dans un documentaire sur l'art contemporain, J...","[Dans, un, documentaire, sur, l'art, contempor...","[0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, ..."
3,Dans une enquête approfondie sur l'histoire de...,"[Dans, une, enquête, approfondie, sur, l'histo...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 0, 0, 0, ..."
4,"Dans une biographie autorisée du milliardaire,...","[Dans, une, biographie, autorisée, du, milliar...","[0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 1, 2, 0, 0, 0, ..."

In [7]:
from transformers import AutoTokenizer

model_checkpoint = "bert-base-cased"
tokenizer = AutoTokenizer.from_pretrained(model_checkpoint)

c:\Users\Lionel\anaconda3\envs\pseudonymizer\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
None of PyTorch, TensorFlow >= 2.0, or Flax have been found. Models won't be available and only tokenizers, configuration and file/data utilities can be used.

In [8]:
# split the dataset into train and test sets. The test set is 20% of the dataset
from sklearn.model_selection import train_test_split
train_df, test_df = train_test_split(df, test_size=0.2)

In [15]:
# tokenize the first line of the tokens in the train set ; is_split_into_words=True is needed
train_encodings = tokenizer(train_df['tokens'].tolist(), is_split_into_words=True)
train_encodings.tokens()

Token indices sequence length is longer than the specified maximum sequence length for this model (593 > 512). Running this sequence through the model will result in indexing errors

['[CLS]',
 'Dan',
 '##s',
 'une',
 'bio',
 '##graph',
 '##ie',
 'auto',
 '##ris',
 '##ée',
 'du',
 'c',
 '##é',
 '##l',
 '##è',
 '##bre',
 'r',
 '##oman',
 '##cier',
 ',',
 'Jean',
 '-',
 'Paul',
 'Sa',
 '##rt',
 '##re',
 'ex',
 '##p',
 '##lique',
 'que',
 'Gabriel',
 'García',
 'M',
 '##á',
 '##rque',
 '##z',
 'a',
 'personnel',
 '##lement',
 'ins',
 '##pi',
 '##ré',
 'son',
 'style',
 'd',
 "'",
 'é',
 '##c',
 '##rit',
 '##ure',
 ',',
 'en',
 'm',
 '##ê',
 '##lant',
 'r',
 '##é',
 '##alis',
 '##me',
 'ma',
 '##gi',
 '##que',
 'et',
 'exist',
 '##ential',
 '##ism',
 '##e',
 '.',
 'Ce',
 'm',
 '##é',
 '##lang',
 '##e',
 'de',
 'genres',
 'a',
 '##va',
 '##it',
 'é',
 '##té',
 't',
 '##r',
 '##ès',
 'c',
 '##rit',
 '##iq',
 '##ué',
 'par',
 'certain',
 '##s',
 'critique',
 '##s',
 'lit',
 '##té',
 '##rai',
 '##res',
 '.',
 '`',
 '`',
 'Ma',
 'r',
 '##é',
 '##po',
 '##nse',
 'à',
 'c',
 '##es',
 'critique',
 '##s',
 'est',
 'q',
 '##u',
 "'",
 'il',
 '##s',
 'ne',
 'com',
 '##p',
 '##ren',
 '##nent',
 'to',
 '##ut',
 'simple',
 '##ment',
 'p',
 '##as',
 'mon',
 't',
 '##ra',
 '##va',
 '##il',
 "'",
 "'",
 ',',
 'a',
 '##va',
 '##it',
 'd',
 '##é',
 '##c',
 '##lar',
 '##é',
 'l',
 "'",
 'au',
 '##te',
 '##ur',
 'co',
 '##lo',
 '##mb',
 '##ien',
 'lo',
 '##rs',
 'd',
 "'",
 'une',
 'con',
 '##f',
 '##é',
 '##ren',
 '##ce',
 'à',
 'Paris',
 '.',
 '[SEP]']

In [9]:
# https://huggingface.co/learn/nlp-course/chapter7/2?fw=pt#processing-the-data
# https://huggingface.co/Jean-Baptiste/camembert-ner